@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/kendo.min.css" asp-append-version="true" rel="stylesheet"  />

    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/lib/Animate/animate.css" rel="stylesheet" />
    <link href="/lib/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <link href="/css/style.min.css" rel="stylesheet" />
    <link href="/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" id="theme">
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/js/Kendo.min.js" asp-append-version="true"></script>
    <script src="/js/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
    <script src="/lib/pace/pace.min.js" asp-append-version="true"></script>
    <script src="/js/PreSite.js" asp-append-version="true"></script>
	<script type="text/javascript" src="/lib/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ================== END BASE JS ================== -->

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="  pace-done">
    
    <!-- begin #page-loader -->
    
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed in">
        
       @Html.Partial("Partials/_Header") 
        @Html.Partial("_Menu")
        <div id="content" class="content animated fadeIn">
            <div id="loader" class=""><span class="spinner"></span></div>
            <!-- begin breadcrumb -->

            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>
            <!-- end page-header -->
            @RenderBody()

        </div>
        
    </div>
    <!-- Modal Bootstrap-->
    @Html.Partial("Partials/_Modals")


    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/js/apps.min.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.min.js" asp-append-version="true"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    @RenderSection("Scripts", required: false)

    <script>
        // On page start
        handlePace();

        // On page load
        $(document).ready(function () {
            Area.init();
        });
        App.init();
    </script>





</body>
</html>
